.text-center {
    text-align: center;
}

.top {
    display: flex;
    justify-content: space-around;
    min-height: 300px;
    border-bottom: 1px solid;
}

.candidate {
    height: 100px;
    margin-bottom: 2rem;
    display: flex;
}

.candidate>div {
    border: 1px solid;
    height: inherit;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.vote {
    width: 15%;
}

.number {
    font-size: 3rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    width: 70%;
}

.intro span {
    font-size: 1.5rem;
    display: inline-block;
    margin: 20px;
}