<!DOCTYPE html>
<html lang="zh-TW">
    <head>
        <meta charset="UTF-8" />
        <title>投票吧－軟工第11組投票管理系統</title>
        <link rel="stylesheet" href="index.css" />
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="index.html">
                    <img src="../../../public/assets/logo.png" alt="Logo" /> 投票吧
                </a>
            </div>
            <div class="divider"></div>
            <nav class="nav-links">
                <ul>
                    <li><a href="index.html">探索</a></li>
                    <li><a href="#">會員中心</a></li>
                </ul>
            </nav>

            <div class="buttons">
                <a href="member_login.html" class="button login">登入</a>
                <a href="member_register.html" class="button register">註冊</a>
            </div>
        </header>

        <div class="filter-bar">
            <div class="filter-buttons">
                <button class="filter active">全部</button>
                <button class="filter">進行中</button>
                <button class="filter">尚未開始</button>
                <button class="filter">已結束</button>
            </div>
            <div class="filter-tools">
                <input
                    type="text"
                    class="search-input"
                    placeholder="搜尋投票活動..."
                />
                <button class="search-button">搜尋</button>
            </div>
        </div>
        <!-- 第三區塊活動卡片區-->
        <!-- 第三區塊活動卡片區-->
        <!-- 第三區塊活動卡片區-->
        <div class="activity-container">
            <div class="activity-grid">
                <!-- 每個活動卡片 -->
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a1.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">中央資管盃秋季程式黑客松</h3>
                    <p class="activity-date">開始時間：2024/11/24</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />72 人</p>
                        <p class="activity-days">剩餘天數<br />15 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a2.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">輸家被鳥吃才藝表演大賽</h3>
                    <p class="activity-date">開始時間：2024/11/28</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />50 人</p>
                        <p class="activity-days">剩餘天數<br />20 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a3.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">中央資管盃火鍋大胃王比賽</h3>
                    <p class="activity-date">開始時間：2024/11/28</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />50 人</p>
                        <p class="activity-days">剩餘天數<br />20 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a4.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">全校碩士班學生選美競賽</h3>
                    <p class="activity-date">開始時間：2024/11/28</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />50 人</p>
                        <p class="activity-days">剩餘天數<br />20 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a5.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">
                        徵求程式開發工讀生時薪183需具備全端能力、精通英法德文
                    </h3>
                    <p class="activity-date">開始時間：2024/11/28</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />50 人</p>
                        <p class="activity-days">剩餘天數<br />20 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a6.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">
                        哥布林在一起強大！誰是哥布林之王
                    </h3>
                    <p class="activity-date">開始時間：2024/11/28</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />50 人</p>
                        <p class="activity-days">剩餘天數<br />20 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a7.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">2024運動會選手人氣投票</h3>
                    <p class="activity-date">開始時間：2024/11/28</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />50 人</p>
                        <p class="activity-days">剩餘天數<br />20 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a8.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">行銷管理期末考時間調查</h3>
                    <p class="activity-date">開始時間：2024/11/28</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />50 人</p>
                        <p class="activity-days">剩餘天數<br />20 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <div class="activity-card">
                    <div class="status">進行中</div>
                    <img
                        src="../../../public/assets/a9.png"
                        alt="活動圖片"
                        class="activity-image"
                    />
                    <h3 class="activity-title">罵我抖M王代表票選</h3>
                    <p class="activity-date">開始時間：2024/11/28</p>
                    <div class="activity-info">
                        <p class="activity-participants">參與人數<br />50 人</p>
                        <p class="activity-days">剩餘天數<br />20 天</p>
                    </div>
                    <div class="vote-now">立即投票</div>
                </div>
                <!-- 可依需要複製更多活動卡片 -->
                <!-- 可依需要複製更多活動卡片 -->
            </div>
            <!-- 頁數選擇按鈕 -->
            <div class="pagination">
                <button class="page-button">1</button>
                <button class="page-button">2</button>
                <button class="page-button">3</button>
                <button class="page-button">最後頁</button>
                <button class="page-button">下一頁</button>
            </div>
            <!-- 頁尾 -->
            <footer class="footer">
                <div class="footer-logo">
                    <img
                        src="../../../public/assets/logo.png"
                        alt="投票吧 Logo"
                        class="logo-image"
                    />
                    投票吧
                </div>
                <div class="footer-text">
                    中央大學資訊管理學系碩士班｜軟體工程｜期末作業用無盈利用途
                </div>
            </footer>
        </div>
        <!-- 第三區塊活動卡片區-->
        <!-- 第三區塊活動卡片區-->
        <!-- 第三區塊活動卡片區-->
    </body>
</html>
