body {
    background-color: #f2f3f5;
}

.login_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.modal_box {
    width: 400px;
}

.modal-content {
    background-color: #fdfdfd;
}

.modal-header {
    justify-content: center;
}